* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.firstSection {
    grid-area: first;
}
.secondSection{
    grid-area: second;
}
.thirdSection{
    grid-area: third;
}
.fourthSection{
    grid-area: fourth;
}
.page{
    display: grid;
    grid-template-areas: 'first second second third third third third fourth fourth';
    /* background-color: #272936; */
}
.nav {
    text-transform: uppercase;
}
.nav i{
    color: black;
    width: 25px;
    height: 25px;
    padding: 2px;
}
.title{
    /* color: #76BED2; */
    text-align: center;
    text-transform: uppercase;
}
.subTitle{
    text-transform: none;
}